<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:object="${team}" th:text="${team.getName()}"></title>
</head>
<body>
<div th:object="${team}">
    <h2>team ID: <span th:text="*{getId()}"></span></h2>
    <h2>team name: <span th:text="*{getName()}"></span></h2>
</div>
<table class="tb_col">
    <tr>
        <th>team members</th>
    </tr>
    <tr th:each="m : ${members}">
        <td><a th:text="*{m.getUsername()}"></a></td>
    </tr>
</table>

</body>
</html>